<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pssunce?zeroDateTimeBehavior=convertToNull</property>
        <property name="hibernate.connection.username">njt</property>
        <property name="hibernate.connection.password">njt</property>
        <property name="show_sql">true</property>
        
        <mapping class="domen.Mesto"></mapping>
        <mapping class="domen.Clan"></mapping>
        <mapping class="domen.Sport"></mapping>
        <mapping class="domen.Trener"></mapping>
        <mapping class="domen.Trening"></mapping>
        <mapping class="domen.Korisnik"></mapping>
        
    </session-factory>
</hibernate-configuration>
